<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<f:if condition="{mainMenu}">
    <f:then>
        <f:be.pageRenderer includeRequireJsModules="{0:'TYPO3/CMS/Taskcenter/Taskcenter'}" />
        <ul id="task-list" class="list-unstyled">
            <f:for each="{items}" as="item" key="itemKey">
                <f:render section="Item" arguments="{item: item, itemKey: itemKey}" />
            </f:for>
        </ul>
    </f:then>
    <f:else>
        <ul class="list-unstyled">
            <f:for each="{items}" as="item" key="itemKey">
                <f:render section="Item" arguments="{item: item, itemKey: itemKey}" />
            </f:for>
        </ul>
    </f:else>
</f:if>


<f:section name="Item">
    <li id="el_{item.uniqueKey}">
        <div id="{item.contentId}" data-taskcenter-id="{item.uniqueKey}" class="panel">
            <div class="panel-heading {item.panelState}">
                <div class="panel-heading-right">
                    <button
                        type="button"
                        class="btn btn-default btn-sm float-end t3js-toggle-table"
                        data-bs-toggle="collapse"
                        data-bs-target="#task_content_{item.contentId}"
                        aria-expanded="{f:if(condition: item.ariaExpanded, then: 'false', else: 'true')}"
                    >
                        <core:icon identifier="{f:if(condition: item.ariaExpanded, then: 'actions-view-list-expand', else: 'actions-view-list-collapse')}" size="small" />
                    </button>
                </div>
                <div class="panel-heading-left">
                    <a href="{item.link}" class="panel-title">
                        <f:if condition="{item.icon}">
                            <span class="panel-title-icon">
                                <f:if condition="{item.iconFile}">
                                    <f:then>
                                        <img src="{item.iconFile}" width="16" height="16" title="{item.title}" alt="{item.title}" />
                                    </f:then>
                                    <f:else>
                                        {item.icon -> f:format.raw()}
                                    </f:else>
                                </f:if>
                            </span>
                        </f:if>
                        <span class="panel-title-name">
                            {item.title}
                            <core:icon identifier="actions-view-table-expand" />
                        </span>
                    </a>
                </div>
            </div>
            <div class="panel-collapse collapse {f:if(condition: '{item.collapsed}', then: 'show')}" id="task_content_{item.contentId}" data-table="task_content_{item.contentId}">
                <div class="panel-body">
                    <f:if condition="{item.descriptionHtml}">
                        <f:then>
                            {item.descriptionHtml -> f:format.raw()}
                        </f:then>
                        <f:else>
                            <p>
                                {item.description -> f:format.nl2br()}
                            </p>
                        </f:else>
                    </f:if>
                </div>
            </div>
        </div>
    </li>
</f:section>
</html>